.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: lightgray;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 73%;
    padding: 1%;
}
.headnav {
    width: 50%;
    margin-left: auto; 
}
.heroImg {
    height: 600px;
    padding: 25px;
}
body {
    background-color: antiquewhite;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.me {
    width: 500px;
}
.flexContainer {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: aliceblue;
    border: solid;
    margin-left: 25%;
    margin-right: 25%;
}
.mySkills h1 {
    text-align: center;
    border: solid;
    margin-left: 25%;
    margin-right: 25%;
}
.Tools {
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
    border: solid;
    background-color: aliceblue;
}