.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: lightgray;
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}
nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto; 
}
.heroImg {
    height: 600px;
    padding: 25px;
}
body {
    background-color: antiquewhite;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.me {
    width: 500px;
}